// Variables =================================

$color-base: #414042;
$color-styling: green;
$white: #fff;

$font-stack-base: Georgia, "Times New Roman", Times, serif;
$font-stack-heading: Arial, Helvetica, sans-serif;
