// Variables =================================

$color-base: #414042;
$color-styling: green;
$white: #fff;

$font-stack-base: Georgia, "Times New Roman", Times, serif;
$font-stack-heading: Arial, Helvetica, sans-serif;

// Mixins =================================

@mixin style-reset {
  margin: 0;
  padding: 0;
}

@mixin item-positioning {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

/* ================================= 
  Base Element Styles
==================================== */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font-stack-base;
  font-size: 18px;
  color: $color-base;
  line-height: 1.5;
  border: 0;
  @include style-reset;
}

h1,
h2,
h3 {
  font-family: $font-stack-heading;
  font-weight: bold;
  color: $color-base;
}

ul {
  @include style-reset;
  list-style: none;
}

a {
  color: $color-styling;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $color-base;
  }
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
}

/* ================================= 
      Base Layout Styles
    ==================================== */

/* ---- Layout Containers ---- */

.container {
  width: 80%;
  margin: 0 auto;
}

.main-header {
  padding: 10px 0px;
}

.img-slides {
  padding: 10px 20px;
}

.col {
  padding: 0 1em;
}

.main-footer {
  text-align: center;
  padding: 2em 0;
  margin-top: 30px;
}

/* ---- Navigation Section ---- */

.site-logo {
  font-size: 1.25em;
  margin: 0;
  a {
    @include item-positioning;
  }
}

.main-nav {
  margin-top: 5px;
  &__item {
    @include item-positioning;
  }
  a {
    font-size: 1.1em;
    color: $color-base;
  }
  a:hover {
    color: $color-styling;
  }
}

/* ---- Main Content Section ---- */

blockquote {
  background: lighten($color-base, 68%);
  border-left: 5px solid lighten($color-base, 30%);
  margin: 1.5em 10px 0;
  padding: 0.5em 20px 0;
}

blockquote:before {
  color: $color-base;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.feat-img {
  width: 100%;
}

.button {
  margin-top: auto;
  align-self: flex-start;
  color: $white;
  text-align: center;
  padding: 0.5em 0.5em;
  background: $color-styling;
  border-radius: 0.35em;
}

/* ---- Footer Section ---- */

.main-footer {
  color: $white;
  background-color: $color-styling;
}

/* ================================= 
        Media Queries
      ==================================== */

/* ---- Mobile Styles ---- */

@media screen and (max-width: 500px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }

  .site-logo {
    font-size: 1.1em;
  }

  .main-nav a {
    font-size: 1em;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 17px;
  }
}
